body { font-family: Arial; margin: 0; }

nav {
  background:#222;
  color:white;
  padding:10px;
  display:flex;
  justify-content:space-between;
}

nav ul {
  list-style:none;
  display:flex;
  gap:20px;
}

nav li { cursor:pointer; }

#content { padding:20px; }
